@import "tailwindcss";

@theme {
  --color-outline: #727784;
  --color-error: #A92222;
  --color-on-error: #ffffff;
  --color-secondary: #B8E7FC;
  --color-on-secondary: #121212;
  --color-surface: #F8F8F8;
  --color-on-surface: #121212;
  --color-background: #F8F8F8;
  --color-on-background: #121212;
  --color-on-surface-variant: #3A3A3A;
  --color-primary: #48B7CB;
  --color-on-primary: #ffffff;
  --color-primary-container: #F0F8FF;
  --color-on-primary-container: #2E2E2E;
  --color-secondary-container: #F0F8FF;
  --color-accent-orange: #FF4C38;
  --color-accent-green: #407533;
  --color-outline-variant: #c2c6d4;
  --color-surface-container-low: #F0F8FF;
  --color-surface-container-lowest: #ffffff;
  
  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}

.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.clinical-gradient, .bg-clinical-gradient {
    background: linear-gradient(135deg, #48B7CB 0%, #2F8EA2 100%);
}

.glass-effect, .glass-panel {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.85);
}

.heatmap-gradient {
    background: radial-gradient(circle at 30% 40%, rgba(186, 26, 26, 0.4) 0%, transparent 20%),
                radial-gradient(circle at 45% 65%, rgba(186, 26, 26, 0.2) 0%, transparent 15%),
                radial-gradient(circle at 70% 20%, rgba(0, 92, 187, 0.1) 0%, transparent 30%);
}